* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #171717;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-app {
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.new-todo input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252525;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.todo-list li.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.filters button,
#clear-completed {
  background-color: #252525;
  border: none;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.filters button:hover,
#clear-completed:hover {
  background-color: #3a3a3a;
}

.toggle-theme {
  cursor: pointer;
}
